html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* stop scroll */
  overflow:hidden;
}

/* HOME (index) PAGE */

#btn{
  font-size: 37px;
  font-family: Optima;
  z-index: 999;
}

#btn:hover{
  cursor:pointer;
}

#icon {
  width: 149px;
  height: 210.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom:40px;
  animation: bounce 1.5s;
  animation-fill-mode: forwards;
}

@keyframes bounce {
  from { top: 0px;}
  to { top: 400px;}
}

.title{
  font-size:67px;
  font-weight:bold;
  text-align:center;
  font-family: Optima;
  letter-spacing: .3rem;
  color:#ac1a2f;
}

#abt-btn {
  position:absolute;
  width: 40px;
  height:40px;
  top:0;
  left:0;
  padding-left: 10px;
  padding-top: 10px;
}

#abt-btn:hover{
  cursor:pointer;
}

.container {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* GET (getYourData) PAGE */
body.getYourData{
  background-color: black;
  box-sizing:content-box;
}

input[type=text], select, textarea {
  width: 97%;
  padding: 12px;
  border: 1px solid #ccc;
  font-family: Optima;
  border-radius: 4px;
  resize: vertical;
}

textarea#message{
  height:70px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: Optima;
  color: white;
}

#REMIND {
  background-color: black;
  font-family:Optima;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-decoration:none;
}

#REMIND:hover {
  background-color: white;
  color:#ac1a2f;
}

#reminder {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  font-family: Optima;
  text-align: center;
  visibility: hidden;
  display:none;
  background-color: rgba(22,22,22,0.5);
  padding-top:90px;
}

#reminder:target {
  visibility: visible;
  display: block;
}

.reveal-popup {
  background:#ac1a2f;
  margin: 0 auto;
  width:200px;
  position:relative;
  z-index:41;
  border-radius: 5px;
  top: 25%;
  padding:30px;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow:0 0 10px rgba(0,0,0,0.4);
}

input[type="submit"]{
  font-family: Optima;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  text-decoration:none;
}

input[type="submit"]:hover{
  background-color: white;
  color:#ac1a2f;
}

.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-get {
  width: 800px;
  height:350px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ac1a2f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-25 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


#get-bckBtn{
  width:40px;
  height:40px;
  padding-top:10px;
  padding-left:10px;
  position:absolute;
  z-index:999;

}

#get-bckBtn:hover{
  cursor:pointer;
}


/* VIZ (vizYourData) PAGE */
#map {
  height: 100%
  /* position:relative;
  width: 800px;
  height: 500px;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 170px; */
}

.slider {
  position:relative;
  bottom: 357px;
  right: 1120px;
  font-size: 12px;
  font-weight:bold;
   /* top right bottom left */
}

#infoBox{
  flex-direction:column;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34,36,38,.15);
  z-index: 999;
  position: absolute;
  width: 27%;
  top: 10px;
  left: 10px;
  height: 65%;
  overflow: scroll;
  font-family:optima;
  padding: 20px;
}

#info{
  padding-top:40px;
  padding-left:5px;
  font-size:14px;
  text-align:center;
}


#file-container{
  display:flex;
  padding: 80px 0px 10px 77px;
  justify-content:center;
  align-self:center;
  position:relative;
  bottom: 10px;
  /* top right bottom left */
}
input::file-selector-button {
  font-family: Optima;
  /* font-style:italic; */
  color: black;
  border: thin solid rgb(204, 204, 204);
  border-radius: 5px;
  cursor:pointer;
}

#ex-data{
  font-style:italic;
  position:relative;
  top: 7px;
  text-align:center;
  font-size: 13px;
}

#ex-d-link{
  color: #ac1a2f;
}
#ex-d-link:hover{
  cursor: pointer;
  text-transform:bold;
  text-decoration: none;
  font-weight: bold;
}

#back-btn{
  position:absolute;
  width: 40px;
  height:40px;
  top:0;
  left:0;
  padding-left: 10px;
  padding-top: 10px;
}

#back-btn:hover{
  cursor:pointer;
}

.leaflet-control-attribution.leaflet-control{
  font-size: 11px;
}

/* ABOUT PAGE */
body.about{
  background-color: black;
  box-sizing:content-box;
}

#abt-title{
  background-color: white;
  color: #ac1a2f;
  text-align: center;
  font-size: 23px;
  font-family: Optima;
}

.abt-text{
  font-family: Optima;
  color:white;
  text-align:center;
}

.container-abt {
  width: 760px;
  height:350px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ac1a2f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
